# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Docker
.dockerignore

# VSCode
.vscode/

# R-Auto specific
.env
db/gemini_prompt.json
db/gemini_response_after.json

# Playwright profile
db/playwright_profile/
db/playwright_profile_backup/
db/error_trace/
db/products.db
