# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Docker
.dockerignore
docker-compose.override.yml

# VSCode
.vscode/

# R-Auto specific
.env

# Ignore all contents of the db directory, as they are user-specific or generated at runtime.
db/
docker-compose.override.yml

test/