# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Docker
.dockerignore
docker-compose.override.yml

# VSCode
.vscode/

# R-Auto specific
.env

# Ignore all contents of the db directory, as they are user-specific or generated at runtime.
db/
docker-compose.override.yml

test/ # testディレクトリ全体を無視
test_scripts/screenshots/ # test_scripts内のscreenshotsディレクトリを無視
test_scripts/output/

# app/prompts/ 内の .txt ファイルは各環境でカスタマイズするため、Gitの管理対象から外す
# .template ファイルは雛形としてGitで管理する
app/prompts/*.txt
